a {text-decoration:none;}

.sektionFoto {
	width:100%; height:160px; max-height:160px; background-size:cover; background-repeat:no-repeat; padding:20px 10px; box-sizing:border-box;
	color:rgba(255,255,255,0.9); font-size:1.2rem; line-height:1.2rem; text-transform:uppercase; text-shadow:1px 1px 1px rgba(0,0,0,0.3); font-weight:bold;
	}

.listview { padding:0 !important; margin:0 !important;}

.listview li {
	padding:0px !important; margin:0px !important; border: 0 !important;
	}

.listviewTable {
	display:table; table-layout:fixed; height:80px !important; width:100% !important; max-width:100% !important; padding:0 10px; box-sizing:border-box !important;
	}

#pageIliste .listviewTable {
	padding-left:60px;
	}

.listviewTableCell {
	display:table-cell; vertical-align:middle; padding:5px 0;
	}

.listviewTextContainer {
	padding-right:20px;
	}

.hyphden {
	-webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
	-webkit-hyphenate-limit-chars: auto 5;
	}

.listview h3 {
	padding:0 !important; margin:0 !important; word-wrap:break-word !important; white-space:normal !important;
	}
	
.listview p {
	padding:0 !important; margin:0 !important; font-size:0.75rem !important;
	}

.listview p i {
	font-size:34px;
	}

.listviewIconContainer {
	width:49px;
	}

.listviewIconWrapper {
	display:block; border:1px solid #fff; border-radius:50%; overflow:hidden; width:31px; height:31px; padding:8px;
	}

.listview img {
	display:inline; float:right; height:100%; width:auto;
	}

.listeHeadlineTable {
	display:table; height:40px; width:100% !important; padding:0  10px; box-sizing:border-box !important;
	}
.listeHeadlineTableCell {
	display:table-cell; vertical-align:middle;
	}

.listeHeadlineText {
	font-size:1.2rem; display:inline-block; float:left; padding:10px !important;
	}
.listeHeadlineImage {
	float:right;
	}

#headlineListviewO p {
	display: inline-block; height: 100%; text-overflow: ellipsis; white-space: normal;
}

.ul_liste { margin:0 !important; padding:0 !important;
	}

.ul_Liste li {
	height:80px; padding:0px !important; border:3px solid green;
	}

.ul_Liste a {
	height:100%;
	border-bottom:1px #fff solid !important;
	}

.ul_Liste li h2 {
	display:inline-block;
	float:left; 
	padding-left:20px !important;
	}
	
.ul_Liste li img {
	height:31px; float:right !important; border:1px solid #fff !important; padding:6px !important; border-radius:40px !important;
	}

/* Kein Border für erste Ergebnis-Zeile der V-Liste, weil Ortsfilter oben und unten Border bekommt */
#pageVliste .listview .ui-first-child .ui-btn {
	border-width: 0 !important;
}

/* Border unten bei I-Liste, weil sie direkt an Header grenzt und die Filter den 1. Eintrag ständig verändern */
#pageIliste .listview .ui-btn {
	border-width: 0 0 1px 0 !important;
}

.ui-field-contain i {
	position: absolute; top: 8px; right: 20px;	
}

.googleMap {
	position:absolute !important; top:76px !important; right:0; bottom:0 !important; left:0px !important; bottom:0px !important; padding:0 !important;
	}

.googleMapWithPanel {
	left:0px !important;
	}

.mapLocateMe {
	position:absolute; z-index:1000; right:20px; bottom:30px; width:35px; height:35px;
	}