@charset "UTF-8";
/* CSS Document */

body {
	font-family:"HelveticaNeue-Light", "Arial Narrow" !important;}

#pageIndex.ui-page {
	background-image:url(../images/fotos/startscreen_01.jpg); background-size:cover;
	}

#startContainer {
	}
#startContainer ul {
	position:absolute; bottom:20px;
	padding:0 8%;}
	
#startContainer li {
	float:left; box-sizing:border-box;
	text-align:center;
	width:50%; padding-bottom:22px;}

#startContainer li div {
	display:inline-block;
	height:70px; width:70px; text-align:center;
	background-color:#008a9f; border-radius:50%;
	/* background:url(images/_buttons/start_button_bubble.png) no-repeat;
	background-size:contain; background-position:center; */
	margin-bottom:4px !important;
	}

#startContainer span {
	display:inline-block;
	height:100%;
	vertical-align:middle;}

#startContainer img {
	width:50px; height:50px;
	display:inline-block;
	vertical-align:middle;}
		
#tapSettings {
	position:absolute; top:25px; right:15px;
	}

#tapSettings i {
	font-size:2rem; opacity:0.5;
	}
	
.settings p {
	margin-bottom:10px;
	}
			
/* HEADER start */

.tapBack {
	background:none !important; border:none; border-radius:0;
	background-image:url(../images/buttons/back_button.png) !important;
	background-repeat:no-repeat !important; background-position:center 32px !important;
	}	

.headerSwitch {}
.headerSearch {display:none;}

.headerSwitch_ul { font-size:0.7rem; display:table !important; width:80% !important; margin:auto !important; padding:0 !important;}
.headerSwitch_ul li {display:table-cell !important; padding:0 5px !important;  height:24px; vertical-align:middle; cursor:pointer; border:1px solid #fff;}
.headerSwitch_ul li:nth-child(1) {border-top-left-radius:5px; border-bottom-left-radius:5px;}
.headerSwitch_ul li:nth-child(2) {border-top-right-radius:5px; border-bottom-right-radius:5px;}
.headerSwitchActive_li { background:#fff; color:#009bb1}

.headerLogo {
	height:30px; width:auto;
	}

.tapHome {
	background:none !important; border:none; border-radius:0;
	background-image:url(../images/buttons/home_button.png) !important;
	background-repeat:no-repeat !important; background-position:center 32px !important;
	}
	
div[data-role="header"] a {
	color:#fff; text-decoration:none;
	}
	
/* HEADER end */
