@charset "UTF-8";
/* CSS Document */

.ui-content {padding:0 !important; overflow:hidden !important;}

/* Header: Höhe definieren */
.ui-header {height:76px !important; padding:0 !important; margin:0 !important;}

/* Header: Buttons stylen */
.ui-header .ui-btn {padding:0 !important; margin:0 !important; height:76px; width:50px;}
	
/* Header: mehr Platz für Text und Switch in der Mitte */
.ui-header .ui-title {padding-top:34px !important; margin-left:25% !important; margin-right:25% !important;}
		
/* Ajax-Loader ausblenden */
.ui-loading .ui-loader {display:none !important;}

/* Panel geschlossen: herausragen lassen */
.ui-panel-closed {width:52px !important; visibility:visible !important; left:17em !important; clip:auto !important;}
	
/* Panel: stylen */
.ui-panel-inner {padding:2px;}

/* Listview: verhindert, dass Text durch Thumb nach rechts geschoben wird */
.ui-listview > .ui-li-has-thumb > .ui-btn {
	padding-left:0 !important;
	}
	
/* Listview: verhindert, dass Zellen Padding erhalten */
.ui-content .ui-btn {padding:0 !important; margin:0 !important;}

.ui-select .ui-btn {border-radius:10px !important; padding:0.4em !important; font-weight:normal !important; }